.formContainer {
  background-color: rgb(10, 16, 112);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: rgb(255, 255, 255);
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: rgb(10, 16, 112);
      font-weight: bold;
      font-size: 35px;
    }

    .title {
      color: rgb(10, 16, 112);
      font-weight: bold;
      font-size: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid rgb(10, 16, 112);
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: rgb(10, 16, 112);
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgb(28, 38, 182);
        }
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(10, 16, 112);
      }
    }
    p {
      color: rgb(10, 16, 112);
      font-weight: bold;
      font-size: 13px;
      margin-top: 10px;
    }
  }
}
